/*Global styles*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans HK', sans-serif;
}


/*The main colors*/

:root {
    --light-blue: #469DE6;
    --dark-blue: #161623;
    --white: #f2f2f1;
}


/*the background of any element if it is selected*/

*::selection {
    background-color: var(--dark-blue)
}


/*container*/

.container {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100vw;
    display: flex;
    flex-direction: column;
    background: linear-gradient(var(--light-blue), var(--dark-blue));
}


/*Container | today-weather*/


/*Container | today-weather| today-weather-section*/

.today-weather-section {
    order: 1;
    width: 100%;
    height: 57vh;
    margin: 4% auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/*Container | today-weather| weather data */

.today-weather {
    width: 75%;
    height: 100%;
    padding: 10px 0;
    background-color: rgb(255, 255, 255, 0.1);
    box-shadow: 20px 20px 50px rgb(0, 0, 0, 0.1);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}


/*Location and date div*/

.location-date {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}


/*location*/

.location-div {
    order: 0;
    flex-basis: 50%;
    height: 100%;
    display: flex;
    align-items: center;
}


/*location | icon and city name*/

.location-div h3 {
    font-size: 2em;
    font-weight: 550;
    color: var(--white)
}


/*Today date*/

.today-date {
    color: var(--white);
    font-size: 1.5em;
    font-weight: 500;
    letter-spacing: 1px;
    text-align: center;
}


/*today-weather | styling the size of the current weather icon*/

.today-weather-icon,
.spinner-div {
    width: 50%;
    height: 50%;
    align-items: center;
    justify-content: center;
}

.today-weather-icon {
    display: flex;
}

.today-weather-icon i {
    width: 100%;
    height: 100%;
    color: var(--white);
    font-size: 7.5em;
}


/*Today weather| Information*/

.today-weather-info {
    height: 15vh;
    width: 100%;
    margin: 0 auto;
    color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}


/*Today weather Information | temperature and weather description*/

.today-weather-temp,
.today-weather-desc {
    height: 100%;
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.today-weather-temp .current-temp,
.today-weather-desc {
    font-size: 1.8em;
    font-weight: 500;
    text-align: center;
}


/*Today weather Information | Temperature | Max and Min temp*/

.today-weather-temp {
    font-size: 1.3em;
    letter-spacing: 3px;
}


/*Today weather section | right and left buttons*/

.today-weather-section button {
    width: 5%;
    height: 30%;
    background-color: rgb(255, 255, 255, 0.1);
    box-shadow: 20px 20px 50px rgb(0, 0, 0, 0.2);
    border: none;
    outline: none;
    display: flex;
    visibility: hidden;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 1;
}


/*Today weather section | right and left buttons|border radius of each button*/

.right-btn {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.left-btn {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}


/*Today weather section | right and left buttons | chevron icons*/

.today-weather-section button i {
    z-index: 0;
    color: var(--white);
    font-size: 1.6rem;
}


/*weather forecast container*/

.weather-forecast {
    position: relative;
    order: 2;
    height: 22vh;
    width: 100%;
    margin-bottom: 3%;
    /*hide the weather forecast until loading the page*/
    display: none;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 0, 0, 0.1);
}


/*weather forecast container | upper and lower border*/

.weather-forecast:before,
.weather-forecast:after {
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: rgb(255, 255, 255, 0.1)
}

.weather-forecast:before {
    top: 0;
}

.weather-forecast:after {
    bottom: 0;
}


/*weather forecast container */

.weather-forecast-container {
    width: 90%;
    height: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


/*weather forecast container |day container*/

.weekday-weather {
    height: 100%;
    width: 25%;
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    color: var(--white);
}


/*weather forecast container |day container |  weather icon*/

.weekday-weather .weekday-weather-icon {
    height: 80%;
    width: 50%;
}


/*weather icon size*/

.weekday-weather .weekday-weather-icon div {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.weekday-weather .weekday-weather-icon div i {
    font-size: 3em;
}


/*weather forecast container |day container | day info*/

.weekday-weather .weekday-weather-info {
    width: 50%;
    height: 90%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}


/*weather forecast container |day container | day info| max and min temperature*/

.weekday-max-min-temp {
    font-size: 1em;
    letter-spacing: 2px;
}


/*weather forecast container |day container | day info| weekdays name*/

.weekday-weather-info .weekday-name {
    font-size: 1em;
}


/*mobile phones styles*/

@media screen and (max-width: 980px) {
    .weekday-weather {
        flex-direction: column;
    }
    .weekday-weather .weekday-weather-icon {
        height: 60%;
        width: 50%;
    }
    .weekday-weather .weekday-weather-info {
        font-size: 0.8em;
    }
    .weekday-weather .weekday-weather-icon div i {
        font-size: 2em;
    }
    .today-weather-icon i {
        font-size: 7em;
    }
}

@media screen and (max-width: 600px) {
    .today-weather-section button {
        width: 7%;
    }
    .today-weather-section button i {
        font-size: 1.4em;
    }
    .search-container div:nth-child(2) {
        width: 80%
    }
    .today-weather-icon i {
        font-size: 6em;
    }
    .location-div h3 {
        font-size: 1.5em;
    }
    .today-date {
        font-size: 1.2em;
    }
    .today-weather-desc {
        font-size: 1.5em;
    }
    .today-weather-temp {
        font-size: 1.1em;
    }
    ul li {
        font-size: 0.8em;
    }
    .search-container div div i {
        font-size: 0.9em;
    }
    .search-container button i {
        font-size: 1.1em;
    }
}

@media screen and (max-width: 375px) {
    .today-weather-section {
        height: 50vh;
        margin: 10% auto;
    }
    .search-container div:nth-child(2) {
        width: 100%
    }
    .today-weather-icon i {
        font-size: 5em;
    }
    .location-div h3 {
        font-size: 1.2em;
    }
    .today-date {
        font-size: 1em;
    }
    .today-weather-desc {
        font-size: 1.3em;
    }
    .today-weather-temp {
        font-size: 0.9em;
    }
    ul li {
        font-size: 0.8em;
    }
    .weather-forecast {
        height: 25%;
    }
}