/*Main container styles and the position of each page*/

#main-container {
    position: relative;
}

.container:nth-child(2) {
    left: 100%;
}

.container:nth-child(3) {
    left: 200%;
}

.container:nth-child(4) {
    left: 300%;
}

.container:nth-child(5) {
    left: 400%;
}