/*Main container styles and the position of each page*/

#main-container {
    position: relative;
}

.container:nth-child(2) {
    position: absolute;
    left: 100%;
    top: 0
}

.container:nth-child(3) {
    position: absolute;
    left: 200%;
    top: 0;
}

.container:nth-child(4) {
    position: absolute;
    left: 300%;
    top: 0;
}

.container:nth-child(5) {
    position: absolute;
    left: 400%;
    top: 0;
}